@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom{
    @apply inline-block px-6 py-4 rounded-full shadow-sm font-medium transition duration-700 ease-in-out transform hover:scale-105 animate-bounce
}

.btn-primary{
    @apply bg-blue-500 text-white font-bold hover:bg-blue-700


}   

.sidebar-container {
  border-right: 1px solid #3d3d3d;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0px;
 
}

.img-resize {
    width: 70%; /* Cambia el valor según tus necesidades */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  }

 @keyframes typing {
    from {
      width: 0;
    }
  }
  

  .gif-with-relief {
    box-shadow: 0 0 200px rgba(178, 21, 189, 0.796);
  }
  

 /* Estilos generales de la aplicación */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 500px;
  width: 100%;
  padding: 10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}

.slider-container {
  position: relative;
}

/* .slick-prev,
.slick-next {
  position: absolute;
  bottom: -30px;
  font-size: 24px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
} */

/* .slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
} */



table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.navres{
    background-color: rgb(16, 53, 104);
    border-radius: 10px;
}

.navtemp{
  background-color: rgb(255, 143, 6);
  border-radius: 10px;
}

.btnnav{
    background-color: rgb(16, 53, 104);   
}
.btnnavtemp{
  background-color: rgb(255, 143, 6);
}

.activeButton {
  background-color: rgb(184, 90, 8); /* Cambia "red" por el color que desees */
}
.btnpul{
    background-color: rgb(12, 104, 185);   
}

.active{
  background-color: rgb(12, 104, 185);   
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 80%;
  margin-right: 15px;
}


.sidebar-closed-text {
  opacity: 0;
  transform: translateX(-20%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.UserIndex {
  font-family: 'Montserrat', sans-serif;
}
@keyframes fadeIn {
  0% {
    opacity: 0; /* Inicio de la animación con opacidad cero */
    transform: translateY(-20px); /* Inicio de la animación con desplazamiento hacia arriba */
  }
  100% {
    opacity: 1; /* Fin de la animación con opacidad completa */
    transform: translateY(0); /* Fin de la animación sin desplazamiento */
  }
}

.problems {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-align: center;
  color: #FF0000;
  font-size: 30px;
  animation: fadeIn 1s ease-in-out; /* Agrega la animación con una duración de 1 segundo y efecto ease-in-out */
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal.closed {
  opacity: 0;
  visibility: hidden;
}

.modal > .modal-content {
  background-color: #fff;
  padding: 20px;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
