@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom{
    @apply inline-block px-6 py-4 rounded-full shadow-sm font-medium transition duration-700 ease-in-out transform hover:scale-105 animate-bounce
}

.btn-primary{
    @apply bg-blue-500 text-white font-bold hover:bg-blue-700


}   

.sidebar-container {
  border-right: 1px solid #3d3d3d;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 0px;
 
}

.img-resize {
    width: 70%; /* Cambia el valor según tus necesidades */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  }

 @keyframes typing {
    from {
      width: 0;
    }
  }
  

  .gif-with-relief {
    box-shadow: 0 0 200px rgba(178, 21, 189, 0.796);
  }
  

 /* Estilos generales de la aplicación */
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.container {
  max-width: 500px;
  width: 100%;
  padding: 10px;
}

@media (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}

.slider-container {
  position: relative;
}

/* .slick-prev,
.slick-next {
  position: absolute;
  bottom: -30px;
  font-size: 24px;
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1;
} */

/* .slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
} */



table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.navres{
    background-color: rgb(16, 53, 104);
    border-radius: 10px;
}
.btnnav{
    background-color: rgb(16, 53, 104);   
}
.btnpul{
    background-color: rgb(12, 104, 185);   
}

.sidebar-closed-text {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
